git+https://github.com/notudope/Telethon@main
cryptg==0.4.0
loguru==0.6.0
python-dotenv==0.21.0
pytz==2022.7
psutil==5.9.4
heroku3==5.1.5
GitPython==3.1.30
psycopg2-binary==2.9.3
SQLAlchemy==1.4.46
sqlalchemy-json==0.5.0
cachetools==5.2.0
asyncache==0.3.1
aiofiles==22.1.0
aiocsv==1.2.3
async-timeout==4.0.2
aiohttp[speedups]==3.8.3
Markdown==3.4.1
beautifulsoup4==4.11.1
emoji==2.2.0
validators==0.20.0
telegraph==2.2.0
requests==2.28.1
lottie==0.7.0
Pillow==9.4.0
CairoSVG==2.5.2
