loguru==0.7.3
python-dotenv==1.1.1
https://github.com/kastaid/Telethon/archive/main.tar.gz
cryptg==0.5.1
psutil==7.0.0
heroku3==5.2.1
GitPython==3.1.45
SQLAlchemy==2.0.41
asyncpg==0.30.0
aiosqlite==0.21.0
sqlalchemy-json==0.7.0
cachetools==5.5.2
asyncache==0.3.1
aiofiles==24.1.0
aiocsv==1.3.2
aiohttp[speedups]==3.12.14
httpx==0.28.1
Markdown==3.8.2
beautifulsoup4==4.13.4
emoji==2.14.1
Unidecode==1.4.0
validators==0.35.0
telegraph==2.2.0
requests==2.32.4
lottie==0.7.2
Pillow==11.1.0
CairoSVG==2.8.2
uvloop==0.21.0
orjson==3.11.1
