name: CI
on: [push, pull_request, workflow_dispatch]
jobs:
  linter:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.12', '3.14']
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - run: |
          python3 -m pip install -U pip
          pip3 install -r requirements.txt
          if [ -f requirements-dev.txt ]; then pip3 install -r requirements-dev.txt; fi
      - run: python3 -m run --lint
      - uses: illvart/beautysh-action@latest
        with:
          args: '*.sh --indent-size 2 &>/dev/null'
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'ci: apply auto-fixes'
          commit_options: '--no-verify'
          commit_user_name: ${{ github.repository_owner }}
          commit_user_email: ${{ github.repository_owner }}@users.noreply.github.com
