name: CI

on:
  pull_request:
  push:
    branches:
      - main
      - dev
  workflow_dispatch:
  
jobs:
  linter:
    name: Run linting and format code
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
          
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.2
          
      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements-dev.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install Python dependencies
        run: |
          python3 -m pip install --upgrade pip setuptools wheel
          pip3 install -r requirements.txt
          pip3 install -r requirements-dev.txt
          
      - name: Linting and format code
        run: python3 -m run --lint

      - name: Beautify shell scripts
        uses: illvart/beautysh-action@latest
        with:
          args: '*.sh --indent-size 2 &>/dev/null'

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_user_name: notudope
          commit_user_email: notudope@gmail.com
          commit_author: notudope <notudope@gmail.com>
          commit_message: '[auto] ci: apply changes'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  shellcheck:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
          
      - name: Check for install script errors
        uses: ludeeus/action-shellcheck@1.1.0
